body {
    background: black;
    font-family: 'Varela', sans-serif;
}

.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    width: 400px;
    margin: 0 auto;
}

@keyframes noise-anim {
    0% {
        clip: rect(2px, 9999px, 82px, 0);
    }
    5% {
        clip: rect(86px, 9999px, 65px, 0);
    }
    10% {
        clip: rect(29px, 9999px, 23px, 0);
    }
    15% {
        clip: rect(92px, 9999px, 79px, 0);
    }
    20% {
        clip: rect(82px, 9999px, 53px, 0);
    }
    25% {
        clip: rect(30px, 9999px, 23px, 0);
    }
    30% {
        clip: rect(35px, 9999px, 38px, 0);
    }
    35% {
        clip: rect(36px, 9999px, 7px, 0);
    }
    40% {
        clip: rect(61px, 9999px, 88px, 0);
    }
    45% {
        clip: rect(53px, 9999px, 87px, 0);
    }
    50% {
        clip: rect(6px, 9999px, 87px, 0);
    }
    55% {
        clip: rect(53px, 9999px, 3px, 0);
    }
    60% {
        clip: rect(6px, 9999px, 87px, 0);
    }
    65% {
        clip: rect(91px, 9999px, 30px, 0);
    }
    70% {
        clip: rect(19px, 9999px, 4px, 0);
    }
    75% {
        clip: rect(40px, 9999px, 50px, 0);
    }
    80% {
        clip: rect(51px, 9999px, 45px, 0);
    }
    85% {
        clip: rect(75px, 9999px, 20px, 0);
    }
    90% {
        clip: rect(48px, 9999px, 41px, 0);
    }
    95% {
        clip: rect(6px, 9999px, 53px, 0);
    }
    100% {
        clip: rect(72px, 9999px, 21px, 0);
    }
}
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(50px, 9999px, 93px, 0);
    }
    5% {
        clip: rect(73px, 9999px, 95px, 0);
    }
    10% {
        clip: rect(15px, 9999px, 76px, 0);
    }
    15% {
        clip: rect(39px, 9999px, 10px, 0);
    }
    20% {
        clip: rect(23px, 9999px, 22px, 0);
    }
    25% {
        clip: rect(26px, 9999px, 18px, 0);
    }
    30% {
        clip: rect(44px, 9999px, 13px, 0);
    }
    35% {
        clip: rect(3px, 9999px, 70px, 0);
    }
    40% {
        clip: rect(50px, 9999px, 100px, 0);
    }
    45% {
        clip: rect(61px, 9999px, 15px, 0);
    }
    50% {
        clip: rect(31px, 9999px, 59px, 0);
    }
    55% {
        clip: rect(57px, 9999px, 93px, 0);
    }
    60% {
        clip: rect(65px, 9999px, 46px, 0);
    }
    65% {
        clip: rect(38px, 9999px, 57px, 0);
    }
    70% {
        clip: rect(45px, 9999px, 50px, 0);
    }
    75% {
        clip: rect(32px, 9999px, 98px, 0);
    }
    80% {
        clip: rect(9px, 9999px, 70px, 0);
    }
    85% {
        clip: rect(22px, 9999px, 24px, 0);
    }
    90% {
        clip: rect(2px, 9999px, 86px, 0);
    }
    95% {
        clip: rect(42px, 9999px, 18px, 0);
    }
    100% {
        clip: rect(31px, 9999px, 45px, 0);
    }
}
.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}